.main{
    max-height: 100%;
    max-width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
}
.bg {
    border: 1px solid red;
    height: 90vh;
    background-image: url('../static/cummunity-bg.jpg');
    /* background-position: center; */
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
}

.contact-title {
    font-size: 4rem;
    color: white;
    margin-left: 20px;
}

.contact-title i {
    color: red;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    filter: drop-shadow(0 0 5px yellow);
}