@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.contact-us {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.main-logo {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-logo img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
} 
.contactus-form{
    width: 50%;
    margin: 0px 20px ;
    border: 1px solid rgb(137, 230, 247);
    border-radius: 12px;
    box-shadow: 0 0 20px rgb(137, 230, 247);
}
.c-container {
    width: 100%;
    padding: 20px;
}

.c-container h2 {
    width: 100%;
    color: #5211a7;
    font-size: 36px;
    text-align: center;
    margin-bottom: 10px;
}
.c-container p{
    max-width: 100%;
    height: 30px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 8px;
    background-color: rgb(131 234 131 / 68%);
    color: black;
    text-align: center;
}
.c-container .row100 {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.c-container .row100 .col {
    position: relative;
    width: 100%;
    padding: 0 10px;
    margin: 30px 0 10px;
    transition: 0.5s;
}

.c-container .row100 .inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #5211a7;
    font-weight: 500;
}

.c-container .row100 .inputBox input,
.c-container .row100 .inputBox.textarea textarea {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #000;
}

.c-container .row100 .inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: 0.5s;
    pointer-events: none;
}

.c-container .row100 .inputBox input:focus+.text,
.c-container .row100 .inputBox input:valid+.text {
    top: -35px;
    left: -10px;
}

.c-container .row100 .inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(112, 227, 238, 0.219);
    border-radius: 2px;
    pointer-events: none;
}

.c-container .row100 .inputBox input:focus~.line,
.c-container .row100 .inputBox input:valid~.line {
    height: 100%;
}

.c-container .row100 .inputBox.textarea {
    position: relative;
    width: 100%;
    height: 100px;
    padding: 10px 0;
}

.c-container .row100 .inputBox.textarea textarea {
    height: 100%;
    resize: none;
}

.c-container .row100 .inputBox textarea:focus+.text,
.c-container .row100 .inputBox textarea:valid+.text {
    top: -35px;
    left: -10px;
}

.c-container .row100 .inputBox textarea:focus~.line,
.c-container .row100 .inputBox textarea:valid~.line {
    height: 100%;
}

input[type="submit"] {
    border: none;
    padding: 7px 35px;
    cursor: pointer;
    outline: none;
    background: #45f3ff;
    color: #5211a7;
    font-weight: 500;
    font-size: 18px;
    border-radius: 7px;
}