@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Merienda:wght@300..900&family=Permanent+Marker&family=Playwrite+DE+Grund:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&family=Merienda:wght@300..900&family=Permanent+Marker&family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root {
  --dark-color: hsl(0, 0%, 0%);
  --gray-color: #1A237E;
  --light-color: hsl(0, 0%, 100%);
  --border-color-dark: hsl(10, 95%, 70%);
  --border-color-normal: hsl(10, 95%, 83%);
  --border-color-light: hsl(10, 95%, 93%);
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* GLOBAL STYLES */
a {
  text-decoration: none;
  transition: .25s;
}

button {
  background: transparent;
  border: none;
  border-radius: 2em;
  cursor: pointer;
  font-size: .875em;
  font-weight: 600;
  height: 2em;
  letter-spacing: -.025em;
  text-transform: uppercase;
  transition: .25s;
}

button:hover {
  color: var(--gray-color);
}

header {
  min-height: 10vh;
  /* background-color: rgba(70, 218, 185, 0.6); */
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 99;
}

img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 80%;
  width: 100%;
}

p {
  color: var(--gray-color);
  font-size: .875em;
  hyphens: auto;
  line-height: 1.5;
  margin: 1em 0;
}

/* CONTAINERS STYLES */
.container {
  padding: 1em;
}

.flex-container {
  display: flex;
}

/* HEADER NAV */
.logo-link {
  color: var(--dark-color);
  font-weight: 600;
  letter-spacing: .125em;
  text-transform: uppercase;
  
}

.header-nav {
  align-items: center;
  flex-direction: column;
}

.header-menu {
  flex-wrap: wrap;
  justify-content: center;
  padding: .75em 0;
}

.header-menu-link {
  color: var(--gray-color);
  display: block;
  font-size: 1.1rem;
  /* font-size: .75em; */
  font-weight: bolder;
  padding: .5em .75em;
  text-transform: uppercase;

  /* font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal; */
  font-family: Arial, Helvetica, sans-serif;
}

.header-menu-link:hover {
  /* color: var(--dark-color); */
  color: red;
  text-decoration: underline;
}
.nav-btn>.ghost-button{
  min-width: 10em;
}
.ghost-button {
  border: .125em solid var(--gray-color);
  min-width: 9em;
  padding: 0 1em;
  height: 30px;
  margin: 0px 5px;
  color: var(--gray-color);
  border: 2px solid var(--gray-color);
  /* color: white; */
  font-size: medium;
  font-weight:900;
  background-color: rgba(255, 255, 255, 0.943);
}

.ghost-button:hover {
  background: var(--gray-color);
  color: white;
  transform: scale(1.1);
}
.ghost-button a:hover{
  color: white;
}


@media only screen and (min-width: 1024px) {

  /* GLOBAL STYLES */
  header {
    overflow: hidden;
  }

  img {
    object-position: 50% 100%;
  }

  /* CONTAINERS STYLES */
  .container {
    padding: 2em;
  }

  /* HEADER NAV */
  .header-nav {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-menu-link {
    padding: 0 1.5em;
  }

  .ghost-button {
    font-size: .75em;
  }

  /* HEADER CONTENT */
  .header-content {
    position: relative;
  }

  .header-img {
    box-shadow: 0 0 0 2em var(--border-color-dark),
      0 0 0 4em var(--border-color-normal),
      0 0 0 6em var(--border-color-light);
    height: 55vw;
    margin: 0;
    position: absolute;
    right: -16vw;
    top: 0vw;
    width: 55vw;
  }

  .header-description {
    margin: 6em 3em 0;
    max-width: 50vw;
  }

  .header-title {
    font-size: calc(1vw + 2.5em);
  }
}

@media only screen and (orientation: portrait) and (min-height: 1024px) {
  .header-content {
    margin-top: 15vh;
  }
}

/* main body css */

.main-container {
  background-color: #0e1350;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: white;

}

.main-img img {
  background-color: transparent;
  height: 110%;
  width: 110%;
  filter: drop-shadow(0 0 15px yellow);
}

.main-contain {
  width:45%;
  margin-right: 50px;
  padding: 10px;
 
}

.main-contain p {
  color: white;
  font-family: "Playwrite DE Grund", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.title {
  color: orange;
  font-size: 3.5rem;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 10px;
}

.title i {
  color: red;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.main-contain p {
  line-height: 1.2rem;
  font-size: 1.02rem;
}

.main-contain .btn {
  text-align: center;
}

.btn button {
  border: 1px solid white;
  color:orange;
  padding: 5px;
  height: 30px;
  width: 150px;
  margin: 20px;
  background-color: transparent;
}
.btn button a{
  color:orange;
}
.btn button a:hover{
  color:orange;
}

.btn button:hover {
  background-color: white;
  color: black;
  transform: scale(1.1);
}

@media only screen and (max-width: 1400px) and (min-width: 1250px) {
  .main-contain {
    min-width: 10%;
  }
}

@media only screen and (max-width: 1250px) and (min-width:1000px){
  .main-contain {
    width: 40%;
  }

  .main-img img {
    background-color: transparent;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 15px yellow);
  }

}

@media only screen and (max-width: 1000px) and (min-width:770px) {
  .main-container {
    min-height: 70vh;
  }

  .title {
    font-size: 2.5rem;
  }
  .main-img img {
    background-color: transparent;
    height: 100%;
    width: 100%;
    filter: drop-shadow(0 0 15px yellow);
  }
}

@media only screen and (max-width: 770px) {
  .main-container{
    display: block;
    min-width: 100%;
    
  }
  .main-img{
    text-align: center;
  }
  .main-img img{
    width: 90%;
    height: 90% ;
  }
  .main-contain{
    width: 100%;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 425px){
  .title{
    font-size: 2.3rem;
  }
  #map{
    width: 300px;
  }
}


/* feedback css */



/* FOOTER */
.footer {
	width: 100%;
	background: #00121b;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}
.icon{
  padding-right: 10px;
  font-size: 1.2rem;
}
ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
  height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media a:hover {
  color:orange;
	transform: scale(1);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */