@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.singup-box {
    min-height: 80vh;
    background-image: url("../log-sign.jpg");
    /* color: white; */
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    color: #fff;
}

.singup-card {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 30px;
    box-shadow: 0 0px 5px rgba(30, 203, 242, 0.9),
                0 0px 20px rgba(30, 203, 242, 0.9),
                0 0px 15px rgba(30, 203, 242, 0.9),
                0 0px 10px rgba(30, 203, 242, 0.9);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    z-index: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   
}

.card-left {
    text-align: center;
    max-height: 55%;
    display: flex;
    justify-content:center;
    align-items: center;
    color: white;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.card-right{
    max-width: 40%;
    text-align: center;

}
h2{
    font-size: 2.1rem;
}
h1{
    font-size: 1.5rem;
}
.card-left P{
    color: white;
}
.singup-card p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.singup-card  span{
    font-size: 12px;
}

.singup-card  a{
    color: white;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0 10px;
}
.card-left a{
    color: white;
}
.singup-card  button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    height: 30px;
}
.role{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#role{
    margin: 5px 10px;
}
.singup-card  button.hidden{
    background-color: transparent;
    border-color: #fff;
}

.singup-card  form{
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.singup-card input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 130%;
    outline: none;
}

.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}

.l-container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.l-container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.social-icons{
    margin: 20px 0;
    /* text-align: center; */
}

.social-icons a{
    /* border: 1px solid #ccc; */
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    font-size: 1.05rem;
}
.danger{
    background-color: red;
}

.alert >p{
    color: white;
}
#alert{
    color: white;
}