<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Community</title>
    <link rel="stylesheet" href="../static/css/index.css" />
    <link rel="stylesheet" href="../static/css/community.css" />
  </head>
  <body>
    <header>
      <nav class="header-nav container flex-container">
        <h1 class="logo"><a class="logo-link" href="#">Gurukul</a></h1>
        <ul class="header-menu flex-container">
          <li><a class="header-menu-link" href="#">Home</a></li>
          <li><a class="header-menu-link" href="/about">Courses</a></li>
          <li><a class="header-menu-link" href="">Community</a></li>
          <li><a class="header-menu-link" href="#about">Contact us</a></li>
        </ul>
        <div class="nav-btn">
          <button class="ghost-button">Log in/Sign up</button>
          <!-- <button class="ghost-button">Sign up </button> -->
        </div>
      </nav>
    </header>

    <div class="main bg">
      <div class="c-container">
        <h2 class="contact-title">Welcome To <i> GURUKUL !</i></h2>
        <p>
          Welcome to <i id="name">GURUKUL </i>,a cutting-edge e-learning
          platform offering flexible and accessible education. Our website
          provides a wide range of courses, tutorials, and resources, catering
          to diverse interests and needs. Learn at your own pace, anytime,
          anywhere, and unlock your full potential with our user-friendly and
          innovative online learning experience.
        </p>
      </div>
    </div>

    <!-- spcifications code start here -->
    <div class="feature">
      <h2>Our Features </h2>
      <div class="f-row">
        <div class="f-card">
          <div class="f-img">
            <img src="../static/one-to-one interaction.jpg" alt="img">
          </div>
          <h3 class="f-title">ONE TO ONE INTERACTION</h3>
          <p class="f-info">
            Our e-learning website offers a unique one-to-one interaction feature, enabling learners to connect directly with instructors for personalized guidance, feedback, and support.
          </p>
        </div>
        <div class="f-card">
          <div class="f-img">
            <img src="../static/Doubt-solving.jpg" alt="img">
          </div>
          <h3 class="f-title">DOUBT SOLVING SESSIONS </h3>
          <p class="f-info">
            Our e-learning website features a swift doubt-solving mechanism and sessions , allowing learners to submit queries and receive timely responses from experts, ensuring clarity and understanding.
          </p>
        </div>
        <div class="f-card">
          <div class="f-img">
            <img src="../static/recorded-lec.jpg" alt="img">
          </div>
          <h3 class="f-title">RECORDED LECTURE VIDEO </h3>
          <p class="f-info">
            Our e-learning website offers recorded lecture videos, enabling learners to access and revisit sessions at their convenience, reinforcing understanding and retention of complex concepts.
          </p>
        </div>
      </div>
    </div>

    <footer>
      <div class="footer">
        <div class="inner-footer">
          <!--  for company name and description -->
          <div class="footer-items">
            <h1>GURUKUL</h1>
            <p>Start Learing and Embrace New Skill for Better Future!</p>
          </div>

          <!--  for quick links  -->
          <div class="footer-items">
            <h3>Quick Links</h3>
            <div class="border1"></div>
            <!--for the underline -->
            <ul>
              <a href="#"><li>Home</li></a>
              <a href="#"><li>Courses</li></a>
              <a href="#"><li>Community</li></a>
              <a href="#"><li>Contact Us</li></a>
            </ul>
          </div>

          <!--  for some other links -->
          <div class="footer-items">
            <h3>Login</h3>
            <div class="border1"></div>
            <!--for the underline -->
            <ul>
              <a href="#"><li>Log In</li></a>
              <a href="#"><li>Sign up</li></a>
            </ul>
          </div>

          <!--  for contact us info -->
          <div class="footer-items">
            <h3>Contact us</h3>
            <div class="border1"></div>
            <ul>
              <li>
                <a href=""
                  ><ion-icon name="location-outline" class="icon"></ion-icon
                  >Pune, Maharashtra</a
                >
              </li>
              <li>
                <a href=""
                  ><ion-icon name="call-outline" class="icon"></ion-icon> +91
                  1234567809</a
                >
              </li>
              <li>
                <a href=""
                  ><ion-icon name="mail-outline" class="icon"></ion-icon
                  >seme5projext@gmail.com</a
                >
              </li>
            </ul>

            <!--   for social links -->
            <div class="social-media">
              <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
              <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
              <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
            </div>
          </div>
        </div>

        <!--   Footer Bottom start  -->
        <div class="footer-bottom">
          Copyright &copy; Gurukul- The E-Learing platform 2024.
        </div>
      </div>
    </footer>
  </body>
</html>
