<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Community</title>
  <link rel="stylesheet" href="../static/css/index.css" />
  <link rel="stylesheet" href="../static/css/community.css" />
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <header>
    <nav class="header-nav container flex-container">
      <h1 class="logo"><a class="logo-link" href="#">Gurukul</a></h1>
      <ul class="header-menu flex-container">
        <li><a class="header-menu-link" href="/home">Home</a></li>
        <li><a class="header-menu-link" href="/about">Courses</a></li>
        <li><a class="header-menu-link" href="/community">Community</a></li>
        <li><a class="header-menu-link" href="/contact-us">Contact us</a></li>
      </ul>
      <div class="nav-btn">
        <button class="ghost-button"><a href="/log"> Log in/Sign up</a> </button>
        <!-- <button class="ghost-button">Sign up </button> -->
      </div>
    </nav>
  </header>

  <div class="main bg">
    <div class="c-container">
      <h2 class="contact-title">Welcome To <i> GURUKUL !</i></h2>
      <p>
        Welcome to <i id="name">GURUKUL </i>,a cutting-edge e-learning
        platform offering flexible and accessible education. Our website
        provides a wide range of courses, tutorials, and resources, catering
        to diverse interests and needs. Learn at your own pace, anytime,
        anywhere, and unlock your full potential with our user-friendly and
        innovative online learning experience.
      </p>
    </div>
  </div>

  <!-- spcifications code start here -->
  <div class="feature">
    <h2>Our Features </h2>
    <div class="f-row">
      <div class="f-card">
        <div class="f-img">
          <img src="../static/one-to-one interaction.jpg" alt="img">
        </div>
        <h3 class="f-title">ONE TO ONE INTERACTION</h3>
        <p class="f-info">
          Our e-learning website offers a unique one-to-one interaction feature, enabling learners to connect directly
          with instructors for personalized guidance, feedback, and support.
        </p>
      </div>
      <div class="f-card">
        <div class="f-img">
          <img src="../static/Doubt-solving.jpg" alt="img">
        </div>
        <h3 class="f-title">DOUBT SOLVING SESSIONS </h3>
        <p class="f-info">
          Our e-learning website features a swift doubt-solving mechanism and sessions , allowing learners to submit
          queries and receive timely responses from experts, ensuring clarity and understanding.
        </p>
      </div>
      <div class="f-card">
        <div class="f-img">
          <img src="../static/recorded-lec.jpg" alt="img">
        </div>
        <h3 class="f-title">RECORDED LECTURE VIDEO </h3>
        <p class="f-info">
          Our e-learning website offers recorded lecture videos, enabling learners to access and revisit sessions at
          their convenience, reinforcing understanding and retention of complex concepts.
        </p>
      </div>
    </div>
  </div>

  <!-- our teacher -->
  <h2 class=" t-title">Meet Our Teachers</h2>
  <div class="teacher">

    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/shradha-khapra.jpeg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Shradha Khapra</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">Meet Ms. Shradha Khapra, a seasoned educator with 7+ years of experience in Cyber
                Security, dedicated to making complex concepts accessible and fun for her online students.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/haris-ali-khan.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Haris Ali Khan</h2>
              <h4 class="designation">Python Programming Teacher</h4>
              <p class="education">B.Tech, 9 years teaching experience</p>
              <p class="description">Meet Mr. Haris Ali Khan, a seasoned educator with 9+ years of experience in Python
                Programming, dedicated to making complex concepts accessible and fun for her online students.</p>

            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile3.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile4.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile5.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile6.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile7.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile8.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>

            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="images/profile9.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">David Dell</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA 7 years teaching experience</p>
              <p class="description">The lorem text the section that contains header with having open functionality.
                Lorem
                dolor sit amet consectetur adipisicing elit.</p>


            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

  <div class="student-feedback">
    <h2 class="student-tile">
      Happy Students...
    </h2>
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto iste blanditiis quas quo esse
            a iure suscipit nobis quos, deserunt consectetur, quasi, animi quia.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/student-demo.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Aniket Chandiwade</h4>
            <p class="s-course">Python Programming student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto iste blanditiis quas quo esse
            a iure suscipit nobis quos, deserunt consectetur, quasi, animi quia.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/student-demo.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Aniket Chandiwade</h4>
            <p class="s-course">Python Programming student</p>
          </div>
        </div>
      </div>
    </div>
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto iste blanditiis quas quo esse
            a iure suscipit nobis quos, deserunt consectetur, quasi, animi quia.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/student-demo.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Aniket Chandiwade</h4>
            <p class="s-course">Python Programming student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi architecto iste blanditiis quas quo esse
            a iure suscipit nobis quos, deserunt consectetur, quasi, animi quia.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/student-demo.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Aniket Chandiwade</h4>
            <p class="s-course">Python Programming student</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Swiper JS -->
  <script src="../static/swiper-bundle.min.js"></script>

  <!-- JavaScript -->
  <script src="../static/community.js"></script>

  <footer>
    <div class="footer">
      <div class="inner-footer">
        <!--  for company name and description -->
        <div class="footer-items">
          <h1>GURUKUL</h1>
          <p>Start Learing and Embrace New Skill for Better Future!</p>
        </div>

        <!--  for quick links  -->
        <div class="footer-items">
          <h3>Quick Links</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="/home">
              <li>Home</li>
            </a>
            <a href="/about">
              <li>Courses</li>
            </a>
            <a href="/community">
              <li>Community</li>
            </a>
            <a href="/contact-us">
              <li>Contact Us</li>
            </a>
          </ul>
        </div>

        <!--  for some other links -->
        <div class="footer-items">
          <h3>Login</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="/log">
              <li>Log In</li>
            </a>
            <a href="/log">
              <li>Sign up</li>
            </a>
          </ul>
        </div>

        <!--  for contact us info -->
        <div class="footer-items">
          <h3>Contact us</h3>
          <div class="border1"></div>
          <ul>
            <li>
              <a href=""><ion-icon name="location-outline" class="icon"></ion-icon>Pune, Maharashtra</a>
            </li>
            <li>
              <a href=""><ion-icon name="call-outline" class="icon"></ion-icon> +91
                1234567809</a>
            </li>
            <li>
              <a href=""><ion-icon name="mail-outline" class="icon"></ion-icon>seme5projext@gmail.com</a>
            </li>
          </ul>

          <!--   for social links -->
          <div class="social-media">
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </div>
        </div>
      </div>

      <!--   Footer Bottom start  -->
      <div class="footer-bottom">
        Copyright &copy; Gurukul- The E-Learing platform 2024.
      </div>
    </div>
  </footer>
  

</body>

</html>