<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Community</title>
  <link rel="stylesheet" href="../static/css/home.css" />
  <link rel="stylesheet" href="../static/css/community.css" />
  <!-- <link rel="stylesheet" href="../static/css/style.css"> -->
  <link rel="stylesheet" href="../static/css/swiper-bundle.min.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
  <header>
    <nav class="header-nav container flex-container">
     <h1 class="logo"><a class="logo-link" href="#"><img src="/static/main.logo-1.png" alt=""></a></h1>
      <ul class="header-menu flex-container">
        <li><a class="header-menu-link" href="/home">Home</a></li>
        <li><a class="header-menu-link" href="/about">Courses</a></li>
        <li><a class="header-menu-link" href="/community">Community</a></li>
        <li><a class="header-menu-link" href="/contact-us">Contact us</a></li>
      </ul>
      <div class="nav-btn">
        <button class="ghost-button"><a href="/log"> Log in</a> </button>
        <button class="ghost-button"><a href="/sign"> Sign UP</a> </button>
    </div>
    </nav>
  </header>

  <div class="main bg">
    <div class="c-container">
      <h2 class="contact-title">Welcome To <i> GURUKUL !</i></h2>
      <p>
        Welcome to <i id="name">GURUKUL </i>,a cutting-edge e-learning
        platform offering flexible and accessible education. Our website
        provides a wide range of courses, tutorials, and resources, catering
        to diverse interests and needs. Learn at your own pace, anytime,
        anywhere, and unlock your full potential with our user-friendly and
        innovative online learning experience.
      </p>
    </div>
  </div>

  <!-- spcifications code start here -->
  <div class="feature">
    <h2>Our Features </h2>
    <div class="f-row">
      <div class="f-card">
        <div class="f-img">
          <img src="../static/one-to-one interaction.jpg" alt="img">
        </div>
        <h3 class="f-title">ONE TO ONE INTERACTION</h3>
        <p class="f-info">
          Our e-learning website offers a unique one-to-one interaction feature, enabling learners to connect directly
          with instructors for personalized guidance, feedback, and support.
        </p>
      </div>
      <div class="f-card">
        <div class="f-img">
          <img src="../static/Doubt-solving.jpg" alt="img">
        </div>
        <h3 class="f-title">DOUBT SOLVING SESSIONS </h3>
        <p class="f-info">
          Our e-learning website features a swift doubt-solving mechanism and sessions , allowing learners to submit
          queries and receive timely responses from experts, ensuring clarity and understanding.
        </p>
      </div>
      <div class="f-card">
        <div class="f-img">
          <img src="../static/recorded-lec.jpg" alt="img">
        </div>
        <h3 class="f-title">RECORDED LECTURE VIDEO </h3>
        <p class="f-info">
          Our e-learning website offers recorded lecture videos, enabling learners to access and revisit sessions at
          their convenience, reinforcing understanding and retention of complex concepts.
        </p>
      </div>
    </div>
  </div>

  <!-- our teacher -->
  <h2 class=" t-title">Meet Our Teachers</h2>
  <div class="teacher">

    <div class="slide-container swiper">
      <div class="slide-content">
        <div class="card-wrapper swiper-wrapper">
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/shradha-khapra.jpeg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Shradha Khapra</h2>
              <h4 class="designation">Cyber Security Teacher</h4>
              <p class="education">MCA, 7 years of teaching experience</p>
              <p class="description">Meet Ms. Shradha Khapra, a seasoned educator with 7+ years of experience in Cyber
                Security, dedicated to making complex concepts accessible and fun for her students.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/haris-ali-khan.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Haris Ali Khan</h2>
              <h4 class="designation">Python Programming Teacher</h4>
              <p class="education">B.Tech, 9 years of Teaching Experience</p>
              <p class="description">Meet Mr. Haris Ali Khan, Expert Python Programming teacher, simplifying syntax and powerful libraries through engaging lessons.</p>

            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Neeraj Walia.jpeg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Neeraj Walia</h2>
              <h4 class="designation">Web Development Teacher</h4>
              <p class="education">BCA, 4 years of Teaching Experience</p>
              <p class="description">Meet Mr. Neeraj Walia, Experienced Web Development teacher,
                 guiding students through the full stack with hands-on projects and clear explanations.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/ravindrababu.png" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Ravindra Babu</h2>
              <h4 class="designation">Data Structure Algorithm Teacher</h4>
              <p class="education">M.Tech, 7 years of Teaching Experience</p>
              <p class="description">Meet Mr. Ravindra Babu an expert educator in Data Structures and Algorithms, 
                simplifying complex concepts with clarity and practical examples.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Keerti Patel.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Keerti Patel</h2>
              <h4 class="designation">Operating System Teacher</h4>
              <p class="education">MCA, 7 years Teaching of Experience</p>
              <p class="description">Meet Ms Keerti Patel, a specialist in Operating Systems, adept at demystifying core concepts 
                and hands-on application through interactive teaching.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Manasvi Pandit.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Manasvi Pandit</h2>
              <h4 class="designation">Internet Of Things Teacher</h4>
              <p class="education">BCS, 4 years of Teaching Experience</p>
              <p class="description">Meet Ms. Manasvi Pandit a passionate IoT educator, bridging theory and real-world applications to innovate the connected future.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Raghvan Kumar.webp" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Raghvan Kumar</h2>
              <h4 class="designation">Java Programming Teacher</h4>
              <p class="education">B.Tech, 6 years of Teaching Experience</p>
              <p class="description">Meet Mr. Raghvan Kumar,an experienced Java programming instructor specializing in interactive, hands-on coding education.</p>


            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Nalini Rao.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Nalini Rao</h2>
              <h4 class="designation">Machine Learning Teacher</h4>
              <p class="education">MCA 4 years of Teaching Experience</p>
              <p class="description">Meet Ms. Nalini Rao an innovative Machine Learning instructor, transforming complex algorithms into accessible and practical knowledge.</p>

            </div>
          </div>
          <div class="card swiper-slide">
            <div class="image-content">
              <span class="overlay"></span>

              <div class="card-image">
                <img src="../static/cummunity-photo/Aryaman Vyas.jpg" alt="" class="card-img">
              </div>
            </div>

            <div class="card-content">
              <h2 class="name">Aryaman Vyas</h2>
              <h4 class="designation">C++ Programming Teacher</h4>
              <p class="education">M.Tech 8 years Teaching Experience</p>
              <p class="description">Meet Mr. Aryaman Vyas a skilled C++ Programming teacher, making advanced coding techniques clear and approachable for all learners.</p>


            </div>
          </div>
        </div>
      </div>

      <div class="swiper-button-next swiper-navBtn"></div>
      <div class="swiper-button-prev swiper-navBtn"></div>
      <div class="swiper-pagination"></div>
    </div>

  </div>

  {% comment %} <div class="student-feedback">
    <h2 class="student-tile">
      Happy Students...
    </h2>
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Thanks to Gurukul, I needed the flexibility offered by Gurukul in order to achieve my goals.
            My Gurukul subscription motivated me to keep learning. 
            I have a new career goal to pivot into data analysis and data science. I'm learning Python now!
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 1.jpeg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Vinit Pandey</h4>
            <p class="s-course">Python Programming Student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Gurukul keeps me motivated to learn. With each course, I'm getting more value out of my subscription.
            I can try any course and switch to another one for no additional cost. 
            I can access almost everything with Gurukul subscription!
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 2.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Isha Jha</h4>
            <p class="s-course">Java Programming Student</p>
          </div>
        </div>
      </div>
    </div>  
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Gurukul gives you the ability to be persistent. I learned exactly what I needed to know in the the real world.
            It helped me sell myself to get a new role.  
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
            <span class="star"><i class='bx bxs-star' ></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 3.webp" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Vrushali Jagtap</h4>
            <p class="s-course">Cyber Security Student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            With Gurukul we were able to marry the two together, 'technology' and 'Consultant soft skills'....to help drive career forward!.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
            <span class="star"><i class='bx bxs-star' ></i></box-icon></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 4.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Mohit Singh</h4>
            <p class="s-course">Data Science Student</p>
          </div>
        </div>
      </div>
    </div>
  </div> {% endcomment %}

  <!-- Swiper JS -->
  <script src="../static/swiper-bundle.min.js"></script>

  <!-- JavaScript -->
  <script src="../static/community.js"></script>

  <footer>
    <div class="footer">
      <div class="inner-footer">
        <!--  for company name and description -->
        <div class="footer-items">
          <h1>GURUKUL</h1>
          <p>Start Learing and Embrace New Skill for Better Future!</p>
        </div>

        <!--  for quick links  -->
        <div class="footer-items">
          <h3>Quick Links</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="/home">
              <li>Home</li>
            </a>
            <a href="/about">
              <li>Courses</li>
            </a>
            <a href="/community">
              <li>Community</li>
            </a>
            <a href="/contact-us">
              <li>Contact Us</li>
            </a>
          </ul>
        </div>

        <!--  for some other links -->
        <div class="footer-items">
          <h3>Login</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="/log">
              <li>Log In</li>
            </a>
            <a href="/log">
              <li>Sign up</li>
            </a>
          </ul>
        </div>

        <!--  for contact us info -->
        <div class="footer-items">
          <h3>Contact us</h3>
          <div class="border1"></div>
          <ul>
            <li>
              <a href=""><ion-icon name="location-outline" class="icon"></ion-icon>Pune, Maharashtra</a>
            </li>
            <li>
              <a href=""><ion-icon name="call-outline" class="icon"></ion-icon> +91
                1234567809</a>
            </li>
            <li>
              <a href=""><ion-icon name="mail-outline" class="icon"></ion-icon>seme5projext@gmail.com</a>
            </li>
          </ul>

          <!--   for social links -->
          <div class="social-media">
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </div>
        </div>
      </div>

      <!--   Footer Bottom start  -->
      <div class="footer-bottom">
        Copyright &copy; Gurukul- The E-Learing platform 2024.
      </div>
    </div>
  </footer>
  

</body>

</html>