<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Home</title>
  <link rel="stylesheet" href="../static/css/home.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <header>
    <nav class="header-nav container flex-container">
      <h1 class="logo"><a class="logo-link" href="#"><img src="/static/main.logo-1.png" alt=""></a></h1>
      <ul class="header-menu flex-container">
        <li><a class="header-menu-link" href="#">Home</a></li>
        <li><a class="header-menu-link" href="/about">Courses</a></li>
        <li><a class="header-menu-link" href="/community">Community</a></li>
        <li><a class="header-menu-link" href="/contact-us">Contact us</a></li>
      </ul>
      <div class="nav-btn">
        <button class="ghost-button"><a href="/log"> Log in</a></button>
        <button class="ghost-button" id="sign"><a href="/sign"> Sign UP</a></button>
      </div>
    </nav>
  </header>
  <div class="main-container">
    <div class="main-img">
      <img src="../static/main1.png" alt="" />
    </div>
    <div class="main-contain">
      <h1 class="title"><i>Innovation</i> in Education</h1>
      <h2 class="title-2">
        Start Learing and Embrace New Skill for Better Future!
      </h2>
      <p>
        With the Help of E-learning, Create your own path and drive on your
        skills on your own to achive what you seek
      </p>
      <div class="btn">
        <button class="ghost-button">
          <a href="/about">Explore more</a>
        </button>
      </div>
    </div>
  </div>
  <div class="faq reveal">
    <div class="faq-main">
      <h1>Frequently Asked Questions?</h1>

      <div class="tab">
        <input type="radio" name="ques" id="q1">
        <label for="q1">
          <h2>01</h2>
          <h3> What Is ELearning?</h3>
        </label>
        <div class="faq-content">
          <p>This term refers to education that takes place in a completely virtual environment using an internet
            connection and a computer or device to connect to the school.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="ques" id="q2">
        <label for="q2">
          <h2>02</h2>
          <h3>What makes E-learning effective?
          </h3>
        </label>
        <div class="faq-content">
          <p>It's like Netflix for education! This multimedia approach increases retention and makes learning way more
            engaging. Reduced costs and multimedia materials are the ultimate tag team. By trimming unnecessary
            expenses, you free up resources that can be invested in creating engaging multimedia materials.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="ques" id="q3">
        <label for="q3">
          <h2>03</h2>
          <h3>How do I know if online education is right for me?
          </h3>
        </label>
        <div class="faq-content">
          <p>Choosing the right degree program takes time and careful research no matter how one intends to study.
            Learning styles, goals, and programs always vary, but students considering online colleges must consider
            technical skills, ability to self-motivate, and other factors specific to the medium.
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="ques" id="q4">
        <label for="q4">
          <h2>04</h2>
          <h3>How many certificates can I earn?
          </h3>
        </label>
        <div class="faq-content">
          <p>There's no limit. You'll earn a certificate for every course, Project, Specialization, or Professional
            Certificate you complete
          </p>
        </div>
      </div>
      <div class="tab">
        <input type="radio" name="ques" id="q5">
        <label for="q5">
          <h2>05</h2>
          <h3>What can I do with my certificates once I've earned them?
          </h3>
        </label>
        <div class="faq-content">
          <p>You can showcase them on your LinkedIn profile, add them to your resume, and share them with your network.
            You can also share them with your employer to demonstrate your new skills, and your ability to apply those
            skills on the job.</p>
        </div>
      </div>
    </div>

  </div>


  <div class="features reveal">
    <div class="feature-container">
      <div class="temp">
        <h1>OUR FEATURES </h1>
        <ul>
          <li class="temp1">
            <span class="feature-icon">
              <img src="../static/personalized-learning.jpg" alt="" id="img1">
              <h2>PERSONALIZED LEARNING</h2>
            </span>
            <p class="feature-info">
              Our adaptive learning system tailors the learning experience to individual learners' needs, pace, and
              learning style. This personalized approach enables learners to progress at their own speed, review
              challenging topics, and reinforce understanding.

            </p>
          </li>
          <li class="temp1">
            <span class="feature-icon">
              <img src="../static/real-time-feedback.png" alt="" id="img1">
              <h2>REAL TIME FEEDBACK</h2>
            </span>
            <p class="feature-info">
              Our instant feedback and assessment system provides learners with timely and constructive feedback on
              assignments and quizzes. This enables learners to track progress, identify areas for improvement, and
              adjust their learning strategy accordingly.


            </p>
          </li>
          <li class="temp1">
            <span class="feature-icon">
              <img src="../static/Mobile Compatibility.png" alt="" id="img1">
              <h2>MOBILE COMPATIBILITY</h2>
            </span>
            <p class="feature-info">
              Our e-learning platform is optimized for seamless learning across devices, enabling learners to access
              courses, tutorials, and resources on desktops, laptops, tablets, or smartphones. This flexibility allows
              learners to learn anywhere, anytime, and stay on track with their goals.
            </p>
          </li>
        </ul>
        <ul>
          <li class="temp1">
            <span class="feature-icon">
              <img src="../static/Progress Tracking.png" alt="" id="img1">
              <h2>PROGRESS TRACKING</h2>
            </span>
            <p class="feature-info">
              Our progress tracking system provides learners with detailed analytics and insights into their learning
              journey. This feature enables learners to monitor progress, set goals, and stay motivated, ensuring a
              successful learning experience.
            </p>
          </li>
          <li class=" temp1">
            <span class="feature-icon">
              <img src="../static/Certification.jpg" alt="" id="img1">
              <h2>CERTIFICATIONS</h2>
            </span>
            <p class="feature-info">
              Upon completing courses and meeting the requirements, learners are awarded recognized certifications,
              acknowledging their skills and knowledge. These certifications demonstrate learners' commitment to
              personal and professional growth, enhancing their credibility and career prospects.
            </p>
          </li>
          <li class=" temp1">
            <span class="feature-icon">
              <img src="../static/Virtual Classroom.jpg" alt="" id="img1">
              <h2>VIRTUAL CLASSROOM</h2>
            </span>
            <p class="feature-info">
              Our virtual classroom feature allows learners to participate in live online sessions with experienced
              instructors. This real-time interaction fosters discussion, collaboration, and direct guidance, recreating
              the traditional classroom experience in a virtual setting.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>




  <div class="student-feedback reveal">
    <h2 class="student-tile">
      Happy Students...
    </h2>
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Thanks to Gurukul, I needed the flexibility offered by Gurukul in order to achieve my goals.
            My Gurukul subscription motivated me to keep learning.
            I have a new career goal to pivot into data analysis and data science. I'm learning Python now!
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 1.jpeg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Vinit Pandey</h4>
            <p class="s-course">Python Programming Student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Gurukul keeps me motivated to learn. With each course, I'm getting more value out of my subscription.
            I can try any course and switch to another one for no additional cost.
            I can access almost everything with Gurukul subscription!
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 2.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Isha Jha</h4>
            <p class="s-course">Java Programming Student</p>
          </div>
        </div>
      </div>
    </div>
    <div class="s-row">
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            Gurukul gives you the ability to be persistent. I learned exactly what I needed to know in the the real
            world.
            It helped me sell myself to get a new role.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
            <span class="star"><i class='bx bxs-star'></i></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 3.webp" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Vrushali Jagtap</h4>
            <p class="s-course">Cyber Security Student</p>
          </div>
        </div>
      </div>
      <div class="s-card">
        <div class="s-content">
          <div class="f-line">
            <span class="s-icon"><i class='bx bxs-quote-alt-left'></i></span>
            <h3>Best Learning Platform</h3>
          </div>
          <p class="s-line">
            With Gurukul we were able to marry the two together, 'technology' and 'Consultant soft skills'....to help
            drive career forward!.
          </p>
          <div class="star-icon">
            <span class="star"><i class='bx bxs-star'></i></box-icon></span>
            <span class="star"><i class='bx bxs-star'></i></box-icon></span>
            <span class="star"><i class='bx bxs-star'></i></box-icon></span>
            <span class="star"><i class='bx bxs-star'></i></box-icon></span>
            <span class="star"><i class='bx bxs-star'></i></box-icon></span>
          </div>
        </div>
        <div class="s-id">
          <div class="s-profile">
            <img src="../static/cummunity-photo/Student Photo 4.jpg" alt="student profile">
          </div>
          <div class="s-info">
            <h4>Mohit Singh</h4>
            <p class="s-course">Data Science Student</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="learing-partner">
    <h1>OUR LEARNING PARTNER</h1>
    <div class="learning-container">
      <div class="inner-container">
        <marquee behavior="scroll" scrollamount="10" direction="left" class="slider">
          <ul class="partner-list">
            <li><img src="../static/learning-partners/CISCO.png" alt=""></li>
            <li><img src="../static/learning-partners/Coursera.png" alt=""></li>
            <li><img src="../static/learning-partners/Elearnmarkets.png" alt=""></li>
            <li><img src="../static/learning-partners/FORAGE-logo.png" alt=""></li>
            <li><img src="../static/learning-partners/google-digital-garage.png" alt=""></li>
            <li><img src="../static/learning-partners/Great_Learning.jpg" alt=""></li>
            <li><img src="../static/learning-partners/IBM.png" alt=""></li>
            <li><img src="../static/learning-partners/Keggle.webp" alt=""></li>
            <li><img src="../static/learning-partners/Linkedin-Learning.jpg" alt=""></li>
            <li><img src="../static/learning-partners/microsoft.webp" alt=""></li>
          </ul>
        </marquee>
      </div>
    </div>
  </div>


  <footer>
    <div class="footer ">
      <div class="inner-footer">
        <!--  for company name and description -->
        <div class="footer-items">
          <!-- <h1>GURUKUL</h1> -->
          <!-- <span class="logo"><a href="" class="logo-link"><img src="../static/main-logo.png" alt=""></a></span> -->
          <h2><a href="">GURUKUL</a></h2>
          <p>Start Learing and Embrace New Skill for Better Future!</p>
        </div>

        <!--  for quick links  -->
        <div class="footer-items">
          <h3>Quick Links</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="">
              <li>Home</li>
            </a>
            <a href="/about">
              <li>Courses</li>
            </a>
            <a href="community/">
              <li>Community</li>
            </a>
            <a href="contact-us/">
              <li>Contact Us</li>
            </a>
          </ul>
        </div>

        <!--  for some other links -->
        <div class="footer-items">
          <h3>Login</h3>
          <div class="border1"></div>
          <!--for the underline -->
          <ul>
            <a href="/log">
              <li>Log In</li>
            </a>
            <a href="/sign">
              <li>Sign up</li>
            </a>
          </ul>
        </div>

        <!--  for contact us info -->
        <div class="footer-items">
          <h3>Contact us</h3>
          <div class="border1"></div>
          <ul>
            <li>
              <a href=""><ion-icon name="location-outline" class="icon"></ion-icon>Pune, Maharashtra</a>
            </li>
            <li>
              <a href=""><ion-icon name="call-outline" class="icon"></ion-icon> +91
                1234567809</a>
            </li>
            <li>
              <a href=""><ion-icon name="mail-outline" class="icon"></ion-icon>seme5project@gmail.com</a>
            </li>
          </ul>

          <!--   for social links -->
          <div class="social-media">
            <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
            <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
          </div>
        </div>
      </div>

      <!--   Footer Bottom start  -->
      <div class="footer-bottom">
        Copyright &copy; Gurukul- The E-Learing platform 2024.
      </div>
    </div>
  </footer>

  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  <script>
    window.addEventListener('scroll', reveal);
    function reveal() {
      var reveals = document.querySelectorAll('.reveal');
      for (var i = 0; i < reveals.length; i++) {
        var windowheight = window.innerHeight;
        var revealtop = reveals[i].getBoundingClientRect().top;
        var revealpoint = 150;

        if (revealtop < windowheight - revealpoint) {
          reveals[i].classList.add('active');
        }
        else {
          reveals[i].classList.remove('active')
        }
      }
    }
  </script>
</body>

</html>