<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/index.css">
</head>

<body>
    <header>
        <nav class="header-nav container flex-container">
            <h1 class="logo"><a class="logo-link" href="#">Gurukul</a></h1>
            <ul class="header-menu flex-container">
                <li><a class="header-menu-link" href="#">Home</a></li>
                <li><a class="header-menu-link" href="/about">Courses</a></li>
                <li><a class="header-menu-link" href="">Community</a></li>
                <li><a class="header-menu-link" href="#about">Contact us</a></li>
            </ul>
            <div class="nav-btn">
                <button class="ghost-button">Log in </button>
                <button class="ghost-button">Sign up </button>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <div class="main-img">
            <img src="../static/main1.png" alt="">
        </div>
        <div class="main-contain">
            <h1 class="title"><i>Innovation</i> in Education</h1>
            <h2 class="title-2">
                Start Learing and Embrace New Skill for Better Future!
            </h2>
            <p>With the Help of E-Learning, Create your own path and drive on your skills on your own to achive what you seek </p>
            <div class="btn">
                <button class="ghost-button">Explore more</button>
                
            </div>
        </div>
    </div>
    <div class="about-container" id="#about">

        <!-- <h1 class="brand"><span>Phoenix Web Design</span></h1> -->
    
        <div class="wrapper">
    
            <!-- COMPANY INFORMATION -->
            <div class="company-info">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d242117.70906969727!2d73.69815309340444!3d18.524870610788835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2bf2e67461101%3A0x828d43bf9d9ee343!2sPune%2C%20Maharashtra!5e0!3m2!1sen!2sin!4v1720280884259!5m2!1sen!2sin" width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" id="map"></iframe>
            </div>
            <!-- End .company-info -->
    
            <!-- CONTACT FORM -->
            <div class="contact">
                <h3>Contact Us</h3>
    
                <form id="contact-form">
    
                    <p>
                        <label>Name</label>
                        <input type="text" name="name" id="name" required>
                    </p>
    
                    <p>
                        <label>Course</label>
                        <input type="text" name="Courses" id="company">
                    </p>
    
                    <p>
                        <label>E-mail Address</label>
                        <input type="email" name="email" id="email" required>
                    </p>
    
                    <p>
                        <label>Phone Number</label>
                        <input type="number" name="phone" id="phone">
                    </p>
    
                    <p class="full">
                        <label>Message</label>
                        <textarea name="message" rows="5" id="message"></textarea>
                    </p>
    
                    <p class="full">
                        <button type="submit">Submit</button>
                    </p>
    
                </form>
                <!-- End #contact-form -->
            </div>
            <!-- End .contact -->
    
        </div>
        <!-- End .wrapper -->
    </div>
    <!-- End .container -->
    <footer>
        <div class="footer">
            <div class="inner-footer">
          
          <!--  for company name and description -->
              <div class="footer-items">
                <h1>GURUKUL</h1>
                <p>Start Learing and Embrace New Skill for Better Future!</p>
              </div>
          
          <!--  for quick links  -->
              <div class="footer-items">
                <h3>Quick Links</h3>
                <div class="border1"></div> <!--for the underline -->
                  <ul>
                    <a href="#"><li>Home</li></a>
                    <a href="#"><li>Courses</li></a>
                    <a href="#"><li>Community</li></a>
                    <a href="#"><li>Contact Us</li></a>
                  </ul>
              </div>
          
          <!--  for some other links -->
              <div class="footer-items">
                <h3>Login </h3>
                <div class="border1"></div>  <!--for the underline -->
                  <ul>
                    <a href="#"><li>Log In</li></a>
                    <a href="#"><li>Sign up</li></a>
                  </ul>
              </div>
          
          <!--  for contact us info -->
              <div class="footer-items">
                <h3>Contact us</h3>
                <div class="border1"></div>
                  <ul>
                    <li><a href=""><ion-icon name="location-outline" class="icon"></ion-icon>Pune, Maharashtra</a></li>
                    <li><a href=""><ion-icon name="call-outline" class="icon"></ion-icon> +91 1234567809</a></li>
                    <li><a href=""><ion-icon name="mail-outline" class="icon"></ion-icon>seme5projext@gmail.com</a></li>
                  </ul> 
                
          <!--   for social links -->
                  <div class="social-media">
                    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#"><ion-icon name="logo-youtube"></ion-icon></a>
                  </div> 
              </div>
            </div>
            
          <!--   Footer Bottom start  -->
            <div class="footer-bottom">
              Copyright &copy; Gurukul- The E-Learing platform 2024.
            </div>
          </div>
            
    </footer>








    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>