<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #nav {
            margin: 0;
            padding: 0;
            color: black;

        }

        .left-nav {
            min-width: 0;
            max-width: 55px;
            transition: all .5s;
            overflow: hidden;
        }

        .left-nav.active {
            float: left;
            max-width: 300px;
        }

        .right-side {
            max-width: 100%;
            padding: 10px;
            border: 1px solid rgb(210, 209, 209);
            box-shadow: 0 0 5px aqua;
            margin: 10px;
            background-color: rgba(236, 235, 235, 0.375);
            border-radius: 18px;
        }

        #nav>li {
            width: 300px;
        }

        .profile {
            max-width: 350px;
        }

        .top {
            /* border: 2px solid red; */
            max-width: 1300px;
            display: flex;
            align-items: center;
        }

        .search input:active {
            border: none;
        }

        .enroll-course {
            display: grid;
            grid-template-columns: auto auto auto;
            grid-column-gap: 1.5em;
            row-gap: 1.5em;
            padding: 2em 0;
        }
    </style>
</head>

<body>
    <div class="top ">
        <div class="logo-m" style="margin-left: 10px;">
            <img src="../static/main.logo-1.png" alt="" style="width: 100px; height: 100px;">
        </div>
        <h2 class="name" style="margin-left: 50px;">Hello, {{user.username}}</h2>
        <div class="search d-flex"
            style="border: 1px solid gray; max-width: 600px; justify-content: space-between;align-items: center;padding: 10px 20px;border-radius: 12px; float: right;margin-left: 200px;">
            <input type="text" name="" id="" placeholder="search anything here" style=" border: none;max-width: 600px;">
            <i class='bx bx-search'></i>
        </div>
        <div class="notification " style="margin-left: 10px;">
            <i class='bx bxs-bell' style="font-size: 2rem;color: rgb(149, 149, 6);"></i>
        </div>

    </div>
    <div class="main-body d-flex" style=" max-width: 100%;">
        <div class="left-nav " id="left-nav">
            <div class="close" id="close-btn" style="padding-left: 12px;">
                <i class='bx bx-list-ul' style="font-size: 2rem;"></i>
            </div>
            <ul class="list-group list-group-flush" id="nav">
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px;  color: black; font-size: 1.5rem;"><i
                                class='bx bxs-dashboard'></i></span>
                        <p style="color: black; ">Dashboard</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bxs-food-menu'></i></span>
                        <p style="color: black; ">Courses</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-clipboard'></i></span>
                        <p style="color: black; ">Assignments</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-bar-chart'></i></span>
                        <p style="color: black; ">Progress Tracking </p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-conversation'></i></span>
                        <p style="color: black; ">Chat with Teacher</p>
                    </a></li>
                <li class="list-group-item"><a href="/log" class="d-flex" style="text-decoration: none;"><span
                            class="icon" style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-exit'></i></span>
                        <p style="color: black; ">Logout</p>
                    </a></li>
            </ul>
        </div>
        <div class="right-side">
            <!-- <h3>Enroll Course </h3> -->
            <div class="enroll-course" style="margin-left: 50px;">
                <div class="card p-1" style="width: 20rem;">
                    <img src="../static/iot-logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Java Programming</p>
                        <p class="card-text">Joining Date : 02/02/2024</p>
                    </div>
                </div>
                <div class="card p-1" style="width: 20rem;">
                    <img src="../static/iot-logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Java Programming</p>
                        <p class="card-text">Joining Date : 02/02/2024</p>
                    </div>
                </div>
                <div class="card p-1" style="width: 20rem;">
                    <img src="../static/iot-logo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">Java Programming</p>
                        <p class="card-text">Joining Date : 02/02/2024</p>
                    </div>
                </div>
                
                
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, doloribus pariatur. Maxime laborum
                animi, voluptatum, ullam quasi distinctio consequatur consequuntur alias deleniti fugit explicabo quas
                recusandae ipsam nulla. Doloribus, quae!</p>
        </div>
        <div class="profile">
            <div class="p-row d-flex p-lg-2" style="justify-content: space-between;">
                <h3>Profile</h3>
                <span><a href="update"><i class='bx bx-edit' style="font-size: 2rem;"></i></a></span>
            </div>
            <div class="profile-photo d-flex p-3" style="justify-content: center;align-items: center;max-width: 100%; height: 250px;">
                <img src="../static/cummunity-photo/student-demo.jpg" alt="" style="width: 200px;height: 200px;border-radius: 50%;">
            </div>
            <h4 class="student-name" style="text-align: center;">{{user.username}}</h4>
            <div class="profile-info">
                <p></p>
            </div>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa obcaecati nisi eligendi similique id,
            officia, at numquam reprehenderit eaque illum nesciunt excepturi placeat. Molestias dicta commodi reiciendis
            expedita, accusantium voluptate!
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <form method="post" action="{% url 'log' %}">
            {% csrf_token %}
            <input type="submit" value="log out">
        </form></li> -->
    <script>
        const btn = document.getElementById('close-btn');
        const main = document.getElementById('left-nav');
        btn.addEventListener('click', function () {
            main.classList.toggle('active')
        });
    </script>

</body>

</html>