<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        #nav {
            margin: 0;
            padding: 0;
            color: black;

        }
        .left-nav {
            min-width: 0;
            max-width: 55px;
            transition: all .5s;
            overflow: hidden;
        }

        .left-nav.active {
            float: left;
            max-width: 30%;
        }

        .right-side {
            max-width: 100%;
            padding: 10px;
        }
        #nav>li{
            width: 300px;
        }
        .profile{
            max-width: 400px;
        }
    </style>
</head>

<body>
    <div class="top " style="max-width:800px;margin: auto;align-items: center;border: 2px solid red;">
        <div class="logo-m">
            <img src="../static/main.logo-1.png" alt="" style="width: 100px; height: 100px;">
        </div>
        <h2 class="name">Hello, {{user.username}}</h2>
        <div class="search d-flex" style="border: 1px solid gray; max-width: 600px; justify-content: space-between;align-items: center;padding: 10px 20px;border-radius: 12px; float: right;">
            <input type="text" name="" id="" placeholder="search anything here" style=" border: none;max-width: 600px;">
            <i class='bx bx-search'></i>
        </div>
        <div class="notification">
            <i class='bx bxs-bell' style="font-size: 2rem;color: rgb(149, 149, 6);" ></i>
        </div>
    </div>
    <div class="main-body d-flex" style=" max-width: 100%;">
        <div class="left-nav " id="left-nav">
            <div class="close" id="close-btn">
                <i class='bx bx-list-ul' style="font-size: 2rem;"></i>
            </div>
            <ul class="list-group list-group-flush" id="nav">
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px;  color: black; font-size: 1.5rem;"><i
                                class='bx bxs-dashboard'></i></span>
                        <p style="color: black; ">Dashboard</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bxs-food-menu'></i></span>
                        <p style="color: black; ">Courses</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-clipboard'></i></span>
                        <p style="color: black; ">Assignments and Test</p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-bar-chart'></i></span>
                        <p style="color: black; ">Progress Tracking </p>
                    </a></li>
                <li class="list-group-item"><a href="" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-conversation'></i></span>
                        <p style="color: black; ">Communicate</p>
                    </a></li>
                <li class="list-group-item"><a href="/log" class="d-flex" style="text-decoration: none;"><span class="icon"
                            style="margin-right: 20px; color: black; font-size: 1.5rem;"><i
                                class='bx bx-exit'></i></span>
                        <p style="color: black; ">Logout</p>
                    </a></li>
            </ul>
        </div>
        <div class="right-side" style="border: 1px solid red;">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere nulla veniam quisquam. Laudantium vitae
                molestias ex, odio sapiente quibusdam debitis iusto beatae accusamus vel sequi ipsa doloremque
                voluptatum neque necessitatibus.</p>
        </div>
        <div class="profile">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa obcaecati nisi eligendi similique id, officia, at numquam reprehenderit eaque illum nesciunt excepturi placeat. Molestias dicta commodi reiciendis expedita, accusantium voluptate!
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <!-- <form method="post" action="{% url 'log' %}">
            {% csrf_token %}
            <input type="submit" value="log out">
        </form></li> -->
    <script>
        const btn =document.getElementById('close-btn');
        const main = document.getElementById('left-nav');
        btn.addEventListener('click', function()  {
            main.classList.toggle('active')
        });
    </script>

</body>

</html>